body {
	background-color: #000000;
}
.nav {
	background-color: #000000;
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.icon_bar {
	color: #3dcfd3;
}
.nav_bar {
	justify-content: flex-end;
}
.nav_item {
	padding: 20px;
}
.nav_link {
	color: #3dcfd3;
	text-decoration: none;
	font-size: 20px;
}
.nav_link:hover {
	color: #ffffff;
	transition: 0.5s;
}
.nav_logo {
	color: #3dcfd3;
	text-decoration: none;
	padding: 20px;
	font-size: 28px;
}
.nav_logo:hover {
	color: #ffffff;
	transition: 0.5s;
}
.logo_row:hover {
	color: #ffffff;
	transition: 0.5s;
}
/* btn menu  */
.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 17px 11px !important;
	cursor: pointer;
	transition: all .5s ease-in-out;
	border: 2px solid #3dcfd3 !important;
}
.menu-btn__burger {
	width: 30px;
	height: 3px;
	background: #3dcfd3;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,101,47,.2);
	transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: #3dcfd3;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255,101,47,.2);
	transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
	transform: translateY(-10px);
}
.menu-btn__burger::after {
	transform: translateY(10px);
}
  /* ANIMATION */
.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}