body {
	background-color: #000000;
}
.row1_div1 {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo_row {
	color: #3dcfd3;
	font-size: 25px;
	font-weight: 400;
	margin: 0px;
	cursor: pointer;
}
.slick-next {
    top: 125px !important;
    right: -40px !important;
}
.slick-prev {
    top: 125px !important;
    left: -48px !important;
}
.slick-prev, .slick-next {
    color: #3dcfd3 !important;
}
.rev_slider_project {
	width: 65%;
    margin: 0 auto;
	margin-top: 60px;
}
.carousel_card_img img {
	width: 100%;
	height: 100%;
	transition: 2s;
}
.carousel_card_img {
	border: 2px solid #3dcfd3;
	border-radius: 0.3rem;
	cursor: pointer;
	height: 336px;
	position: relative;
}
.name_project {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #000000;
	color: #3dcfd3;
	border-top: 2px solid #3dcfd3;
	z-index: 50;
	display: flex;
	transition: 2s;
	justify-content: center;
	align-items: center;
	height: 35px;
}
.iconi {
	position: absolute;
	top: 43%;
	right: 27%;
	z-index: 55;
	opacity: 0;
	transition: 1s;
}
.iconi i {
	color: #ffffff;
	padding: 10px;
	font-size: 35px;
	transition: 0.5s;
}
.iconi i:hover {
	opacity: 0.5;
}
.carousel_card_img:hover .iconi{
	opacity: 1;
	transition: 2s;
} 
.name_project p {
	margin: 0px;
	font-size: 20px;
}
.carousel_card {
	margin: 0 auto;
	max-width: 500px;
    width: 100%;
	padding: 10px;
}
.carousel_card_img:hover img {
	opacity: 0.5;
	transition: 2s;
} 
.carousel_card_img:hover .name_project {
	opacity: 0;
	transition: 1s;
}